# folders to ignore
__pycache__/
.ipynb_checkpoints/
wandb/
# in folder figures/animations ignore all subfolders but not the .gif files
figures/animations/**
!figures/animations/*.gif


# extensions to ignore
*.pt
*.npy

# files to ignore
*test*

